In [1]:
import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine

In [2]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT  distinct album_id,song_id FROM music.Excel21;"
df = pd.read_sql(sql_cmd,conn)
df.head(2)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

    album_id      song_id
0   10019802   1001980202
1  100198010  10019801004

In [3]:
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/mojim',encoding='utf8')  

pd.io.sql.to_sql(df, "album_song_relation", conn,index=False, if_exists='replace')