In [1]:
import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine

In [2]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT * FROM music.Excel20;"
df = pd.read_sql(sql_cmd,conn)
df.head(2)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,id,link,class,singer_id,singer_name,song_id,song_name,song_word,album_id,album_name,...,years,months,lyric_id,same_id,lyric_language,composer_name,author_name,compancy,album_new_language,album_link
0,100000,https://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,4,10019802,整個給你,...,1993,01,100000,100000,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm
1,100002,https://mojim.com/twy100198x2x4.htm,男生歌手,100198,張洪量,1001980204,浮萍,2,10019802,整個給你,...,1993,01,100002,100002,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm

In [3]:
df1=df[['album_id','song_id']]
df1=df1.drop_duplicates(keep='first')
df1

        album_id     song_id
0       10019802  1001980202
1       10019802  1001980204
2       10019802  1001980207
3       10019802  1001980208
4       10019802  1001980209
...          ...         ...
261230  10500101  1050010101
261231  10500102  1050010201
261232  10500103  1050010301
261233  10500104  1050010401
261234  10500106  1050010601

[261235 rows x 2 columns]

In [4]:
data_dict=df1.to_dict('records')
print(len(data_dict))
print(data_dict[0])
indices=dict()

for doc in data_dict[:]:
#     print(doc)
   
        if doc['album_id'] not in indices:
            indices[doc['album_id']]=[]
        indices[doc['album_id']].append(str(doc['song_id']))
# indices

261235
{'album_id': '10019802', 'song_id': 1001980202}

In [5]:

list_key_values=[[k,v] for k ,v in indices.items()]

df_if=pd.DataFrame.from_dict(list_key_values)
df_if.columns=['album_id','song_id']
df_if

        album_id                                            song_id
0       10019802  [1001980202, 1001980204, 1001980207, 100198020...
1      100198010  [10019801004, 10019801003, 10019801002, 100198...
2      100198012  [100198012014, 100198012020, 10019801209, 1001...
3       10019806  [10019806012, 10019806014, 10019806010, 100198...
4      100198011  [100198011013, 100198011014, 100198011012, 100...
...          ...                                                ...
37341   10500101                                       [1050010101]
37342   10500102                                       [1050010201]
37343   10500103                                       [1050010301]
37344   10500104                                       [1050010401]
37345   10500106                                       [1050010601]

[37346 rows x 2 columns]

In [6]:
df_if['album_song_count']=[len(i) for i in df_if.song_id]
df_if

,album_id,song_id,album_song_count
0,10019802,"[1001980202, 1001980204, 1001980207, 100198020...",10
1,100198010,"[10019801004, 10019801003, 10019801002, 100198...",9
2,100198012,"[100198012014, 100198012020, 10019801209, 1001...",20
3,10019806,"[10019806012, 10019806014, 10019806010, 100198...",17
4,100198011,"[100198011013, 100198011014, 100198011012, 100...",15
...,...,...,...
37341,10500101,[1050010101],1
37342,10500102,[1050010201],1
37343,10500103,[1050010301],1
37344,10500104,[1050010401],1
37345,10500106,[1050010601],1

In [7]:
df_if1=df_if[['album_id','album_song_count']]
df3=pd.merge(df,df_if1,on='album_id',how='outer')
df3

,id,link,class,singer_id,singer_name,song_id,song_name,song_word,album_id,album_name,...,months,lyric_id,same_id,lyric_language,composer_name,author_name,compancy,album_new_language,album_link,album_song_count
0,100000,https://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,4,10019802,整個給你,...,01,100000,100000,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm,10
1,100002,https://mojim.com/twy100198x2x4.htm,男生歌手,100198,張洪量,1001980204,浮萍,2,10019802,整個給你,...,01,100002,100002,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm,10
2,100005,https://mojim.com/twy100198x2x7.htm,男生歌手,100198,張洪量,1001980207,沙漠之花,4,10019802,整個給你,...,01,100005,100005,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm,10
3,100006,https://mojim.com/twy100198x2x8.htm,男生歌手,100198,張洪量,1001980208,我想我瘋了,5,10019802,整個給你,...,01,100006,100006,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm,10
4,100007,https://mojim.com/twy100198x2x9.htm,男生歌手,100198,張洪量,1001980209,外星戀,3,10019802,整個給你,...,01,100007,100007,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261230,293084,https://mojim.com/twy105001x1x1.htm,其他歌手,105001,網友音樂創作,1050010101,痛徹心扉(孫培恩),4,10500101,痛徹心扉,...,未記錄,293084,293084,Chinese,未知,未知,未記錄,0,https://mojim.com/tw105001x1.htm,1
261231,293085,https://mojim.com/twy105001x2x1.htm,其他歌手,105001,網友音樂創作,1050010201,朝代,2,10500102,朝代,...,未記錄,293085,293085,Chinese,未知,口香糖,未記錄,0,https://mojim.com/tw105001x2.htm,1
261232,293086,https://mojim.com/twy105001x3x1.htm,其他歌手,105001,網友音樂創作,1050010301,愛情的樂章,5,10500103,愛情的樂章,...,未記錄,293086,293086,Chinese,未知,未知,未記錄,0,https://mojim.com/tw105001x3.htm,1
261233,293087,https://mojim.com/twy105001x4x1.htm,其他歌手,105001,網友音樂創作,1050010401,你離開的事實,6,10500104,你離開的事實,...,未記錄,293087,293087,Chinese,PianoBoy(The truth that you leave),小凱,未記錄,0,https://mojim.com/tw105001x4.htm,1
261234,293088,https://mojim.com/twy105001x6x1.htm,其他歌手,105001,網友音樂創作,1050010601,分開的最後一天,7,10500106,暫存,...,未記錄,293088,293088,Chinese,未知,未知,未記錄,0,https://mojim.com/tw105001x6.htm,1

In [17]:

conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df3, "Excel", conn,index=False, if_exists='replace')

In [8]:
import re  

df4=df3[['song_name']]
def rmm (s):
    r=re.sub(u"\\(.*?\\)|\\{.*?}|\\[.*?]", "", s) 
    return r
df4['song_word']=[len(rmm(i)) for i in df4.song_name.values]
df4[df4['song_name'].str.contains('\)')]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                       song_name  song_word
35                                    罪人(Remix)           3
37                                廣島之戀(張洪量&莫文蔚)           5
47                              情定日落橋(是你讓我無法再愛)           6
49                                 雙城(-1℃黑色星期天)           3
54                                編織戀愛夢(第一眼第六感)           6
...                                          ...        ...
261211    Jack Your Body (Hardfloor Radio Edit)          16
261213  I Won't Hold You Back (Deep House Edit)          23
261216                Out of Touch (Radio Edit)          14
261217                Out of Touch (Ti-Mo Edit)          14
261230                                痛徹心扉(孫培恩)           5

[29632 rows x 2 columns]

In [ ]:
df5=pd.merge(df,df4,on='song_name',how='outer')
df5=df5.drop_duplicates()

In [ ]:
df5

In [48]:
cur.close()
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df5, "Excel7", conn,index=False, if_exists='replace')