In [1]:

import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine

In [244]:

conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT distinct composer_name,id FROM music.Excel21;"
df = pd.read_sql(sql_cmd,conn)
df

# df['composer_id']=[i for i in range(1,len(df)+1)]
# df

# cur.close()

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

                             composer_name      id
0                                      張洪量  100000
1                                      張洪量  100042
2                                      譚健常  131843
3                                      譚健常   84942
4                                       未知  125851
...                                    ...     ...
261230                                  未知  293084
261231                                  未知  293085
261232                                  未知  293086
261233  PianoBoy(The truth that you leave)  293087
261234                                  未知  293088

[261235 rows x 2 columns]

In [245]:
list1=df.set_index('id').T.to_dict('list')
# list2=df[df.composer_name.str.contains('\(')][:3].set_index('composer_id').T.to_dict('list')

In [246]:
val=[]
# val2=[]
for k,v in list1.items():
    if '('in v[0]:
        cut=v[0].split('(')
        if cut[0] !='':
           
            if len(cut[0])==1:
                val.append([k,v[0]])
           
            else:
                val.append([k,cut[0]])
                val.append([k,cut[1]])
        else:
            val.append([k,v[0]])
        
    else:
        val.append([k,v[0]])

In [247]:
new=pd.DataFrame(val)

new.columns=['id','name']
new

            id                       name
0       100000                        張洪量
1       100042                        張洪量
2       131843                        譚健常
3        84942                        譚健常
4       125851                         未知
...        ...                        ...
263901  293085                         未知
263902  293086                         未知
263903  293087                   PianoBoy
263904  293087  The truth that you leave)
263905  293088                         未知

[263906 rows x 2 columns]

In [249]:
new[new['name'].str.contains('\(')]

            id                                        name
5110    144028                                        (待考)
10927   144041                                        (待考)
24418   154713                                     佚(安徽民謠)
24488   209682      (O.C)Shelly Peiken、Guy Roche Executive
24652   154717                                     佚(新疆民謠)
58970   144024                                        (待考)
68211   204289                                       (天鵝湖)
68764    31622                                       陶(吉吉)
68765    31560                                       陶(吉吉)
71349   154706                                     佚(江蘇民歌)
74992   154707                                     佚(綏遠民謠)
75144    61016                                     (採譜)劉福助
95331   154710                                     佚(新疆民歌)
95353   154715                                     佚(山西民歌)
107886  154719                                     佚(新疆民歌)
125051  110173                    (Kevin Kumar、Sean Kumar)
134971   88035                                      (蕭煌奇 )
139377  201009                                      ((張宇))
140195  154720                                     佚(河南民謠)
141547  154711                                     佚(雲南民謠)
148729  144176                                        (待考)
148789  144021                                        (待考)
148816  144005                                        (待考)
148818  144004                                        (待考)
148823  144010                                        (待考)
148824  144011                                        (待考)
157807  127146                                     佚(山西民歌)
160002  154716                                     佚(蒙古民謠)
167584  114954                               正(RubberBand)
167585  114997                               正(RubberBand)
172843  114991                               正(RubberBand)
177596  224051                                      瓜(櫻桃幫)
184666  112318                                     (美)比爾朋特
193264  209681  (O.C)Pracha Pongbupat、Tanongsak Arpormsiri
193270  209680                 (O.C)Winston Sela、Guy Zabka
193271  209683              (O.C)Park、Geun Tae、Yoo、Yoo Jin
202892  128409                                        (轉經)
205519   39368                          陶(吉吉)、Harold Arlen
216713  195110                                    (日本)瀧廉太郎
217273   20206                                      脩(東城衛)
238744   70565                                    雨(Keiji)

In [250]:
new1=new[['id','name']].drop_duplicates()
data_dict=new1.to_dict('records')

indices=dict()

for doc in data_dict[:]:
#     print(doc)
   
        if doc['name'] not in indices:
            indices[doc['name']]=[]
        indices[doc['name']].append(str(doc['id']))
list_key_values=[[k,v] for k ,v in indices.items()]

df_if=pd.DataFrame.from_dict(list_key_values)
df_if.columns=['name','id']

df_if['count']=[len(l) for l in df_if.id] 
df_if=df_if.sort_values('count')
df_if
dfc=df_if[df_if['count']>1]
dfc

             name                                                 id  count
21552     徐佳瑩 廖韋卓                                   [184119, 283294]      2
23988        春畑道哉                                   [265293, 257532]      2
24001        三好 誠                                   [265355, 265358]      2
21480     周永恆．鄧智偉                                    [41783, 206153]      2
26831  Haoren 朱浩仁                                     [92856, 92857]      2
...           ...                                                ...    ...
173           劉家昌  [131845, 75512, 147575, 156937, 156480, 109344...   1181
16            徐嘉良  [211346, 226275, 8163, 8221, 226348, 208867, 1...   1202
134           雷頌德  [73236, 209751, 209733, 209820, 209776, 110919...   1739
84             姚敏  [185270, 117632, 253087, 286205, 282286, 14262...   2025
2              未知  [125851, 74741, 69482, 89630, 185365, 21275, 1...  47959

[14582 rows x 3 columns]

In [269]:
df3=df_if[['name','id']]


df3['id']=df3['id'].apply(', '.join)
df3

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,name,id
33805,The truth that you leave),293087
13771,Vincent Degiorgio、Paul Newman 、 Robyn Pickell ...,179508
24329,Albert H.,63979
24330,黃冠龍、張棋惠,63865
24333,楊智遠,42068
...,...,...
173,劉家昌,"131845, 75512, 147575, 156937, 156480, 109344,..."
16,徐嘉良,"211346, 226275, 8163, 8221, 226348, 208867, 19..."
134,雷頌德,"73236, 209751, 209733, 209820, 209776, 110919,..."
84,姚敏,"185270, 117632, 253087, 286205, 282286, 142625..."
2,未知,"125851, 74741, 69482, 89630, 185365, 21275, 10..."

In [272]:
import numpy as np
df3['id'] = df3.id.apply(lambda x: x.split(','))
vals = df3.id.values.tolist()
rs = [len(r) for r in vals]
a = np.repeat(df3.name, rs)

df4 = pd.DataFrame(np.column_stack((a, np.concatenate(vals))), columns=['name', 'id'])
df4 = df4[['id', 'name']]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [273]:
df4

             id                                               name
0        293087                          The truth that you leave)
1        179508  Vincent Degiorgio、Paul Newman 、 Robyn Pickell ...
2         63979                                          Albert H.
3         63865                                            黃冠龍、張棋惠
4         42068                                                楊智遠
...         ...                                                ...
263901   293083                                                 未知
263902   293084                                                 未知
263903   293085                                                 未知
263904   293086                                                 未知
263905   293088                                                 未知

[263906 rows x 2 columns]

In [264]:
sql_cmd = "SELECT * FROM music.Excel21;"
df22 = pd.read_sql(sql_cmd,conn)
df22

,id,link,class,singer_id,singer_name,song_id,song_name,song_word_x,album_id,album_name,...,months,lyric_id,same_id,lyric_language,composer_name,author_name,compancy,album_new_language,album_link,song_word_y
0,100000,https://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,4,10019802,整個給你,...,01,100000,100000,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm,5
1,100042,https://mojim.com/twy100198x10x4.htm,男生歌手,100198,張洪量,10019801004,情為何物,4,100198010,祭文,...,09,100042,100000,Chinese,張洪量,張洪量,喜馬拉雅,國語,https://mojim.com/tw100198x10.htm,5
2,131843,https://mojim.com/twy100146x17x6.htm,女生歌手,100146,葉璦菱( Irene Yeh ),10014601706,情為何物,4,100146017,百萬金曲1,...,未記錄,131843,84942,Chinese,譚健常,小軒,創意,國語,https://mojim.com/tw100146x17.htm,5
3,84942,https://mojim.com/twy100431x1x10.htm,男生歌手,100431,費翔( Kris Phillips ),10043101010,情為何物,4,10043101,想念依舊[費翔精選],...,03,84942,84942,Chinese,譚健常,小軒,Emi,國語,https://mojim.com/tw100431x1.htm,5
4,125851,https://mojim.com/twy100362x1x7.htm,女生歌手,100362,楊采妮( Charlie Young ),1003620107,情為何物,4,10036201,為所欲為,...,01,125851,125851,Chinese,未知,未知,Emi,國語,https://mojim.com/tw100362x1.htm,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261230,293084,https://mojim.com/twy105001x1x1.htm,其他歌手,105001,網友音樂創作,1050010101,痛徹心扉(孫培恩),4,10500101,痛徹心扉,...,未記錄,293084,293084,Chinese,未知,未知,未記錄,0,https://mojim.com/tw105001x1.htm,5
261231,293085,https://mojim.com/twy105001x2x1.htm,其他歌手,105001,網友音樂創作,1050010201,朝代,2,10500102,朝代,...,未記錄,293085,293085,Chinese,未知,口香糖,未記錄,0,https://mojim.com/tw105001x2.htm,3
261232,293086,https://mojim.com/twy105001x3x1.htm,其他歌手,105001,網友音樂創作,1050010301,愛情的樂章,5,10500103,愛情的樂章,...,未記錄,293086,293086,Chinese,未知,未知,未記錄,0,https://mojim.com/tw105001x3.htm,6
261233,293087,https://mojim.com/twy105001x4x1.htm,其他歌手,105001,網友音樂創作,1050010401,你離開的事實,6,10500104,你離開的事實,...,未記錄,293087,293087,Chinese,PianoBoy(The truth that you leave),小凱,未記錄,0,https://mojim.com/tw105001x4.htm,7
261234,293088,https://mojim.com/twy105001x6x1.htm,其他歌手,105001,網友音樂創作,1050010601,分開的最後一天,7,10500106,暫存,...,未記錄,293088,293088,Chinese,未知,未知,未記錄,0,https://mojim.com/tw105001x6.htm,8

In [275]:
df22['id']=df22['id'].astype(int)
df4['id']=df4['id'].astype(int)

In [276]:
df23=pd.merge(df22,df4,on='id',how='left')
df23

,id,link,class,singer_id,singer_name,song_id,song_name,song_word_x,album_id,album_name,...,lyric_id,same_id,lyric_language,composer_name,author_name,compancy,album_new_language,album_link,song_word_y,name
0,100000,https://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,4,10019802,整個給你,...,100000,100000,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm,5,張洪量
1,100042,https://mojim.com/twy100198x10x4.htm,男生歌手,100198,張洪量,10019801004,情為何物,4,100198010,祭文,...,100042,100000,Chinese,張洪量,張洪量,喜馬拉雅,國語,https://mojim.com/tw100198x10.htm,5,張洪量
2,131843,https://mojim.com/twy100146x17x6.htm,女生歌手,100146,葉璦菱( Irene Yeh ),10014601706,情為何物,4,100146017,百萬金曲1,...,131843,84942,Chinese,譚健常,小軒,創意,國語,https://mojim.com/tw100146x17.htm,5,譚健常
3,84942,https://mojim.com/twy100431x1x10.htm,男生歌手,100431,費翔( Kris Phillips ),10043101010,情為何物,4,10043101,想念依舊[費翔精選],...,84942,84942,Chinese,譚健常,小軒,Emi,國語,https://mojim.com/tw100431x1.htm,5,譚健常
4,125851,https://mojim.com/twy100362x1x7.htm,女生歌手,100362,楊采妮( Charlie Young ),1003620107,情為何物,4,10036201,為所欲為,...,125851,125851,Chinese,未知,未知,Emi,國語,https://mojim.com/tw100362x1.htm,5,未知
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263901,293085,https://mojim.com/twy105001x2x1.htm,其他歌手,105001,網友音樂創作,1050010201,朝代,2,10500102,朝代,...,293085,293085,Chinese,未知,口香糖,未記錄,0,https://mojim.com/tw105001x2.htm,3,未知
263902,293086,https://mojim.com/twy105001x3x1.htm,其他歌手,105001,網友音樂創作,1050010301,愛情的樂章,5,10500103,愛情的樂章,...,293086,293086,Chinese,未知,未知,未記錄,0,https://mojim.com/tw105001x3.htm,6,未知
263903,293087,https://mojim.com/twy105001x4x1.htm,其他歌手,105001,網友音樂創作,1050010401,你離開的事實,6,10500104,你離開的事實,...,293087,293087,Chinese,PianoBoy(The truth that you leave),小凱,未記錄,0,https://mojim.com/tw105001x4.htm,7,The truth that you leave)
263904,293087,https://mojim.com/twy105001x4x1.htm,其他歌手,105001,網友音樂創作,1050010401,你離開的事實,6,10500104,你離開的事實,...,293087,293087,Chinese,PianoBoy(The truth that you leave),小凱,未記錄,0,https://mojim.com/tw105001x4.htm,7,PianoBoy
263905,293088,https://mojim.com/twy105001x6x1.htm,其他歌手,105001,網友音樂創作,1050010601,分開的最後一天,7,10500106,暫存,...,293088,293088,Chinese,未知,未知,未記錄,0,https://mojim.com/tw105001x6.htm,8,未知

In [258]:
com=df_if[['name']]
com['composer_id']=[l for l in range(1,len(com)+1)]
com

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                                    name  composer_id
33805                          The truth that you leave)            1
13771  Vincent Degiorgio、Paul Newman 、 Robyn Pickell ...            2
24329                                          Albert H.            3
24330                                            黃冠龍、張棋惠            4
24333                                                楊智遠            5
...                                                  ...          ...
173                                                  劉家昌        33802
16                                                   徐嘉良        33803
134                                                  雷頌德        33804
84                                                    姚敏        33805
2                                                     未知        33806

[33806 rows x 2 columns]

In [263]:

conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='mojim',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()

cur.execute("SET NAMES utf8")
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/mojim',encoding='utf8')  

pd.io.sql.to_sql(com, "composer", conn,index=False, if_exists='replace')

In [12]:

conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT  distinct author_name FROM music.Excel21;"
df = pd.read_sql(sql_cmd,conn)
df

df['author_id']=[i for i in range(1,len(df)+1)]
df

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

                                             author_name  author_id
0                                                    張洪量          1
1                                                     小軒          2
2                                                     未知          3
3                                                     思安          4
4                                                    許常德          5
...                                                  ...        ...
31275                                             おぐらあすか      31276
31276                                               西岡水朗      31277
31277  Selina Tseng 曾麗婕 、Roland Lim 林添明 & Andrew Lui 雷振光      31278
31278                                            莫榮烽 楊恭偉      31279
31279                                                口香糖      31280

[31280 rows x 2 columns]

In [13]:
df[df['author_name']=='元欽、唐林鈺(Hmp)']

Empty DataFrame
Columns: [author_name, author_id]
Index: []

In [5]:

# cur.close() 
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/mojim',encoding='utf8')  

pd.io.sql.to_sql(df, "author", conn,index=False, if_exists='replace')