In [1]:
import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine
import re

In [10]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT * FROM music.Excel5;"
df = pd.read_sql(sql_cmd,conn)
df.head(2)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,id,link,class,singer_id,singer_name,song_id,song_name,album_id,album_name,lyric_id,album_language,years,month,author_name,composer_name,same_id,group_id
0,100000,http://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,10019802,整個給你,100000,國語,1993,1,張洪量,張洪量,100000,0.0
1,100042,http://mojim.com/twy100198x10x4.htm,男生歌手,100198,張洪量,10019801004,情為何物,100198010,祭文,100042,國語,1987,9,張洪量,張洪量,100000,0.0

In [7]:
df.loc[df['same_id']=='未知','same_id']=df.lyric_id
df[df['same_id']=='未知']

Empty DataFrame
Columns: [id, link, class, singer_id, singer_name, song_id, song_name, album_id, album_name, lyric_id, language, years, month, author_name, composer_name, same_id, group_id]
Index: []

In [8]:
cur.close()

In [9]:
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df, "Excel5", conn,index=False, if_exists='replace')

In [37]:
sql_cmd = "SELECT * FROM music.ly_lan;"
df1 = pd.read_sql(sql_cmd,conn)
df1.head(2)

   id                                             lyrics language language2
0   1  誰會知道 誰會在乎\n危難裡 誰明白我孤苦\n誰又看到 睏倦裡沒能力歡呼\n誰願答應 不撇下...       zh        zh
1   2  昨天流落冰天雪地\n無光線沒有生機\n當我偶遇人間一個你\n才真正發覺熱愛滋味\n你的手能令...       zh        zh

In [38]:
df2=df1[['id','language2']]
df2=df2.rename(columns={'language2':'lyric_language'})
df2

            id lyric_language
0            1             zh
1            2             zh
2            3             zh
3            4             zh
4            5             zh
...        ...            ...
261817  293208             zh
261818  293209             zh
261819  293210             zh
261820  293211             zh
261821  293212             zh

[261822 rows x 2 columns]

In [40]:
df3=pd.merge(df,df2,on='id',how='outer')
df3

,id,link,class,singer_id,singer_name,song_id,song_name,album_id,album_name,lyric_id,album_language,years,month,author_name,composer_name,same_id,group_id,lyric_language
0,100000,http://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,10019802,整個給你,100000,國語,1993,1,張洪量,張洪量,100000,0.0,zh
1,100042,http://mojim.com/twy100198x10x4.htm,男生歌手,100198,張洪量,10019801004,情為何物,100198010,祭文,100042,國語,1987,9,張洪量,張洪量,100000,0.0,zh
2,100002,http://mojim.com/twy100198x2x4.htm,男生歌手,100198,張洪量,1001980204,浮萍,10019802,整個給你,100002,國語,1993,1,張洪量,張洪量,100002,0.0,zh
3,100041,http://mojim.com/twy100198x10x3.htm,男生歌手,100198,張洪量,10019801003,浮萍,100198010,祭文,100041,國語,1987,9,張洪量,張洪量,100002,0.0,zh
4,100005,http://mojim.com/twy100198x2x7.htm,男生歌手,100198,張洪量,1001980207,沙漠之花,10019802,整個給你,100005,國語,1993,1,張洪量,張洪量,100005,0.0,zh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261817,293084,http://mojim.com/twy105001x1x1.htm,其他歌手,105001,網友音樂創作,1050010101,痛徹心扉(孫培恩),10500101,痛徹心扉,293084,國語,未知,未知,未知,未知,293084,0.0,zh
261818,293085,http://mojim.com/twy105001x2x1.htm,其他歌手,105001,網友音樂創作,1050010201,朝代,10500102,朝代,293085,國語,未知,未知,口香糖,未知,293085,0.0,zh
261819,293086,http://mojim.com/twy105001x3x1.htm,其他歌手,105001,網友音樂創作,1050010301,愛情的樂章,10500103,愛情的樂章,293086,國語,未知,未知,未知,未知,293086,0.0,zh
261820,293087,http://mojim.com/twy105001x4x1.htm,其他歌手,105001,網友音樂創作,1050010401,妳離開的事實,10500104,你離開的事實,293087,國語,未知,未知,小凱,PianoBoy(The truth that you leave),293087,0.0,zh
261821,293088,http://mojim.com/twy105001x6x1.htm,其他歌手,105001,網友音樂創作,1050010601,分開的最後一天,10500106,暫存,293088,國語,未知,未知,未知,未知,293088,0.0,zh

In [41]:
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df3, "Excel6", conn,index=False, if_exists='replace')