In [1]:
import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine

In [2]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT * FROM music2.Excel4;"
df = pd.read_sql(sql_cmd,conn)
df.head(2)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,id,link,class,singer_id,singer_name,song_id,song_name,album_id,album_name,lyric_id,language,years,month,author_name,composer_name,same_id
0,100000,http://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,10019802,整個給你,100000,國語,1993,1,張洪量,張洪量,100000
1,100042,http://mojim.com/twy100198x10x4.htm,男生歌手,100198,張洪量,10019801004,情為何物,100198010,祭文,100042,國語,1987,9,張洪量,張洪量,100000

In [13]:
df1=df[['class','singer_id','singer_name']]
df1=df1[df1['class']=='團體歌手']
df1=df1[['singer_id','singer_name']]
df1=df1.sort_values('singer_id').drop_duplicates(keep='first')

In [14]:
data_dict=df1.to_dict('records')
print(len(data_dict))
print(data_dict[0])
indices=dict()

for doc in data_dict[:]:
#     print(doc)
   
        if doc['singer_id'] not in indices:
            indices[doc['singer_id']]=[]
        indices[doc['singer_id']].append(str(doc['singer_name']))
# indices

1881
{'singer_id': 100001, 'singer_name': 'Baboo'}

In [15]:

list_key_values=[[k,v] for k ,v in indices.items()]

df_if=pd.DataFrame.from_dict(list_key_values)
df_if.columns=['singer_id','singer_name']
df_if

      singer_id       singer_name
0        100001           [Baboo]
1        100002  [Beyond, BEYOND]
2        100004            [Kiss]
3        100005             [Me2]
4        100006            [咻比嘟嘩]
...         ...               ...
1631     188277          [O-Band]
1632     188532         [ABS(TW)]
1633     188560            [完美倒立]
1634     188684  [廚子和戲子, 廚子 、 戲子]
1635     188815         [Creed Z]

[1636 rows x 2 columns]

In [16]:
df_if['group_id']=[l for l in range(1,len(df_if)+1)]
df_if

      singer_id       singer_name  group_id
0        100001           [Baboo]         1
1        100002  [Beyond, BEYOND]         2
2        100004            [Kiss]         3
3        100005             [Me2]         4
4        100006            [咻比嘟嘩]         5
...         ...               ...       ...
1631     188277          [O-Band]      1632
1632     188532         [ABS(TW)]      1633
1633     188560            [完美倒立]      1634
1634     188684  [廚子和戲子, 廚子 、 戲子]      1635
1635     188815         [Creed Z]      1636

[1636 rows x 3 columns]

In [17]:
df_if=df_if[['singer_id','group_id']]

In [22]:
gg=pd.merge(df,df_if,on='singer_id',how='outer')

gg=gg.fillna(0)
gg.sort_values('group_id')

,id,link,class,singer_id,singer_name,song_id,song_name,album_id,album_name,lyric_id,language,years,month,author_name,composer_name,same_id,group_id
0,100000,http://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,10019802,整個給你,100000,國語,1993,1,張洪量,張洪量,100000,0.0
160467,47597,http://mojim.com/twy102447x12x5.htm,男生歌手,102447,袁小迪,10244701205,出外英雄,102447012,買醉的藉口,47597,台語,2011,9,台灣阿典,黃聰典,未知,0.0
160468,47598,http://mojim.com/twy102447x12x6.htm,男生歌手,102447,袁小迪,10244701206,越頭看人生,102447012,買醉的藉口,47598,台語,2011,9,螞蟻,螞蟻,未知,0.0
160469,47599,http://mojim.com/twy102447x12x7.htm,男生歌手,102447,袁小迪,10244701207,再相會(&龍千玉),102447012,買醉的藉口,47599,台語,2011,9,郭之儀,郭之儀,未知,0.0
160470,47602,http://mojim.com/twy102447x12x10.htm,男生歌手,102447,袁小迪,102447012010,溫暖的冬天,102447012,買醉的藉口,47602,台語,2011,9,袁小迪,袁小迪,未知,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258048,228955,http://mojim.com/twy188815x1x2.htm,團體歌手,188815,Creed Z,1888150102,生人皮囊,18881501,生人皮囊,228955,國語,2017,5,Creed Z,Creed Z,未知,1636.0
258052,228959,http://mojim.com/twy188815x1x6.htm,團體歌手,188815,Creed Z,1888150106,症候群,18881501,生人皮囊,228959,國語,2017,5,Creed Z,Creed Z,未知,1636.0
258050,228957,http://mojim.com/twy188815x1x4.htm,團體歌手,188815,Creed Z,1888150104,玻璃體製,18881501,生人皮囊,228957,國語,2017,5,Creed Z,Creed Z,未知,1636.0
258049,228956,http://mojim.com/twy188815x1x3.htm,團體歌手,188815,Creed Z,1888150103,紙醉金迷,18881501,生人皮囊,228956,國語,2017,5,未知,Creed Z,未知,1636.0
258051,228958,http://mojim.com/twy188815x1x5.htm,團體歌手,188815,Creed Z,1888150105,共生體,18881501,生人皮囊,228958,國語,2017,5,Creed Z,Creed Z,未知,1636.0

In [23]:
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(gg, "Excel5", conn,index=False, if_exists='replace')