In [10]:
import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine

In [11]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT  distinct singer_id,singer_name,class FROM music.Excel13;"
df = pd.read_sql(sql_cmd,conn)
df

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

      singer_id  singer_name class
0        100198          張洪量  男生歌手
1        100146          葉璦菱  女生歌手
2        100431           費翔  男生歌手
3        100362          楊采妮  女生歌手
4        122502          陳浩德  男生歌手
...         ...          ...   ...
8235     160726         Kinn  其他歌手
8236     169267         桃河りか  其他歌手
8237     186221        丸山和歌子  其他歌手
8238     134729  ChiliTomato  其他歌手
8239     105001       網友音樂創作  其他歌手

[8240 rows x 3 columns]

In [12]:

# cur.close() 
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music3',encoding='utf8')  

pd.io.sql.to_sql(df, "singer", conn,index=False, if_exists='replace')