In [1]:

import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine

In [5]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='mojim',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT  distinct * FROM mojim.composer;"
df = pd.read_sql(sql_cmd,conn)
df.head(2)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

  composer_name  composer_id
0           張洪量            1
1           譚健常            2

In [6]:
sql_cmd = "SELECT distinct composer_name,song_id FROM music.Excel21;"
df1 = pd.read_sql(sql_cmd,conn)
df1.head(2)

  composer_name      song_id
0           張洪量   1001980202
1           張洪量  10019801004

In [7]:
df3=pd.merge(df1,df,on='composer_name',how='inner')
df3

                             composer_name      song_id  composer_id
0                                      張洪量   1001980202            1
1                                      張洪量  10019801004            1
2                                      張洪量   1001980204            1
3                                      張洪量  10019801003            1
4                                      張洪量   1001980207            1
...                                    ...          ...          ...
259884                                  梁涓   1607260106        32724
259885                               manzo   1692670101        32725
259886                               田村しげる   1862210102        32726
259887     Andrew Lui 雷振光 & David Koon 庄蔚義   1347290301        32727
259888  PianoBoy(The truth that you leave)   1050010401        32728

[259889 rows x 3 columns]

In [8]:
df4=df3[['song_id','composer_id']]
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/mojim',encoding='utf8')  

pd.io.sql.to_sql(df4, "song_composer_relation", conn,index=False, if_exists='replace')