In [1]:





import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup 
import requests 
import re 
import random

In [25]:
df=pd.read_csv('/Volumes/新增磁碟區/code/mysql_excel/origin.csv')  
df

,編號,URL,類別,歌手,歌名,專輯,語言,年份,作詞,作曲
0,1,http://mojim.com/twy136198x2x1.htm,男生歌手,盧永亨,誰會在乎,惟獨聖經,國語,Aug-12,盧永亨,盧永亨
1,2,http://mojim.com/twy136198x1x1.htm,男生歌手,盧永亨,當我偶遇你,暫存,國語,NaN,盧永亨,盧永亨
2,3,http://mojim.com/twy136198x1x2.htm,男生歌手,盧永亨,末世燈臺,暫存,國語,NaN,盧永亨,盧永亨
3,4,http://mojim.com/twy136198x1x3.htm,男生歌手,盧永亨,他們曾這樣獻上-- 因著信二部曲,暫存,國語,NaN,NaN,NaN
4,5,http://mojim.com/twy136198x1x4.htm,男生歌手,盧永亨,天與地的距離(詩篇一零三篇),暫存,國語,NaN,盧永亨,盧永亨
...,...,...,...,...,...,...,...,...,...,...
293207,293208,http://mojim.com/twy100375x6x6.htm,其他歌手,飛碟,一樣的月光,飛向未來,國語,1986,吳念真/羅大佑,李壽全
293208,293209,http://mojim.com/twy100375x6x7.htm,其他歌手,飛碟,最後一夜,飛向未來,國語,1986,慎芝,陳志遠
293209,293210,http://mojim.com/twy100375x6x8.htm,其他歌手,飛碟,千年的神話,飛向未來,國語,1986,詹宏志,李壽全
293210,293211,http://mojim.com/twy100375x6x9.htm,其他歌手,飛碟,輕柔的和音,飛向未來,國語,1986,樓文中,樓文中
293211,293212,http://mojim.com/twy100375x6x10.htm,其他歌手,飛碟,平安夜,飛向未來,國語,1986,NaN,NaN

In [16]:

conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT * FROM music.Excel18;"
df1 = pd.read_sql(sql_cmd,conn)
df1.head(2)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,id,link,class,singer_id,singer_name,song_id,song_name,song_word,album_id,album_name,...,years,months,lyric_id,same_id,lyric_language,composer_name,author_name,compancy,album_new_language,album_link
0,100000,https://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,4,10019802,整個給你,...,1993,01,100000,100000,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm
1,100002,https://mojim.com/twy100198x2x4.htm,男生歌手,100198,張洪量,1001980204,浮萍,2,10019802,整個給你,...,1993,01,100002,100002,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm

In [76]:
list1=df1.loc[(df1.years=='0')&(df1.singer_name=='0')].id.tolist()
list1[:3]

[198721, 198723, 70246]

In [81]:
df2=df1[~df1['id'].isin(list1)]
df2[df2['id'].isin(list1)]

Empty DataFrame
Columns: [id, link, class, singer_id, singer_name, song_id, song_name, song_word, album_id, album_name, album_language, album_song, years, months, lyric_id, same_id, lyric_language, composer_name, author_name, compancy, album_new_language, album_link]
Index: []

[0 rows x 22 columns]

In [100]:
list2=df1.loc[(df1.singer_name=='0')].id.tolist()
list2[:3]

[198721, 198723, 70246]

In [101]:
df3=df2[~df2['id'].isin(list2)]
df3[df3['id'].isin(list2)]

Empty DataFrame
Columns: [id, link, class, singer_id, singer_name, song_id, song_name, song_word, album_id, album_name, album_language, album_song, years, months, lyric_id, same_id, lyric_language, composer_name, author_name, compancy, album_new_language, album_link]
Index: []

[0 rows x 22 columns]

In [102]:
# cur.close() 
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df3, "Excel20", conn,index=False, if_exists='replace')