In [1]:


import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup 
import requests 
import re 
import random

In [2]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()

In [28]:
list1=[i for i in range(1,9)]
print(list1)
def get(i,no):
    values=[]
    url='http://mojim.com/twzlha_0'+i+'.htm'
    resp = requests.get(url) #  
    soup = BeautifulSoup(resp.text, 'html.parser')
    name=soup.find_all(class_='s_listA')
    tag=soup.find('td',id='mx123_T2').find('div').text
    for i in name:
        for j in i.find_all('a'):
            no+=1
            v=(int(no),tag,j['href'],j['title'].split('歌詞')[0])
            values.append(v)
    
    sql = "INSERT IGNORE INTO mojim_singer (no,tag,singer_link,name) VALUES (%s,%s, %s, %s)"                      
    cur.executemany(sql, tuple(values))    
    conn.commit()
    return no
no=0
for i in list1[:]:
    no=get(str(i),no)
print('finish')

[1, 2, 3, 4, 5, 6, 7, 8]
finish

In [29]:
list1=[i for i in range(1,9)]
print(list1)
def get(i,no):
    values=[]
    url='http://mojim.com/twzlhb_0'+i+'.htm'
    resp = requests.get(url) #  
    soup = BeautifulSoup(resp.text, 'html.parser')
    name=soup.find_all(class_='s_listA')
    tag=soup.find('td',id='mx123_T2').find('div').text
    for i in name:
        for j in i.find_all('a'):
            no+=1
            v=(int(no),tag,j['href'],j['title'].split('歌詞')[0])
            values.append(v)
    
    sql = "INSERT IGNORE INTO mojim_singer (no,tag,singer_link,name) VALUES (%s,%s, %s, %s)"                      
    cur.executemany(sql, tuple(values))    
    conn.commit()
    return no
no=9317
for i in list1[:]:
    no=get(str(i),no)
print('finish')

[1, 2, 3, 4, 5, 6, 7, 8]
finish

In [33]:
list1=[i for i in range(1,35)]
print(list1)
def get(i,no):
    values=[]
    if int(i) <10:
        url='http://mojim.com/twzlhc_0'+i+'.htm'
    else:
        url='http://mojim.com/twzlhc_'+i+'.htm'
    resp = requests.get(url) #
#     print(url)
    soup = BeautifulSoup(resp.text, 'html.parser')
    name=soup.find_all(class_='s_listA')
    tag=soup.find('td',id='mx123_T2').find('div').text
    for i in name:
        for j in i.find_all('a'):
            no+=1
            v=(int(no),tag,j['href'],j['title'].split('歌詞')[0])
            values.append(v)
    
    sql = "INSERT IGNORE INTO mojim_singer (no,tag,singer_link,name) VALUES (%s,%s, %s, %s)"                      
    cur.executemany(sql, tuple(values))    
    conn.commit()
    return no
no=17388
for i in list1[:]:
    no=get(str(i),no)
print('finish')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
finish

In [31]:
# list1=[i for i in range(1,710)]
# # print(list1)
# def get(i,no):
#     values=[]
#     if int(i) <10:
#         url='http://mojim.com/twzlhe_0'+i+'.htm'
#     else:
#         url='http://mojim.com/twzlhe_'+i+'.htm'
#     resp = requests.get(url) #
# #     print(url)
#     soup = BeautifulSoup(resp.text, 'html.parser')
#     name=soup.find_all(class_='s_listA')
#     tag=soup.find('td',id='mx123_T2').find('div').text
#     for i in name:
#         for j in i.find_all('a'):
#             no+=1
#             v=(int(no),tag,j['href'],j['title'].split('歌詞')[0])
#             values.append(v)
    
#     sql = "INSERT IGNORE INTO mojim_singer (no,tag,singer_link,name) VALUES (%s,%s, %s, %s)"                      
#     cur.executemany(sql, tuple(values))    
#     conn.commit()
#     return no
# no=21099
# for i in list1[:]:
#     no=get(str(i),no)
# print('finish')

In [32]:
list1=[i for i in range(1,35)]
# print(list1)
def get(i,no):
    values=[]
    if int(i) <10:
        url='http://mojim.com/twzlhz_0'+i+'.htm'
    else:
        url='http://mojim.com/twzlhz_'+i+'.htm'
    resp = requests.get(url) #
#     print(url)
    soup = BeautifulSoup(resp.text, 'html.parser')
    name=soup.find_all(class_='s_listA')
    tag=soup.find('td',id='mx123_T2').find('div').text
    for i in name:
        for j in i.find_all('a'):
            no+=1
            v=(int(no),tag,j['href'],j['title'].split('歌詞')[0])
            values.append(v)
    
    sql = "INSERT IGNORE INTO mojim_singer (no,tag,singer_link,name) VALUES (%s,%s, %s, %s)"                      
    cur.executemany(sql, tuple(values))    
    conn.commit()
    return no
no=21099
for i in list1[:]:
    no=get(str(i),no)
print('finish')

finish

In [37]:
# df1=pd.DataFrame(values)
# df1.columns=['tag','singer_link','name']
# df1

                  tag     singer_link       name
0     華語男生 列表，依 筆劃 排列  /twh136376.htm      1337
1     華語男生 列表，依 筆劃 排列  /twh136376.htm    1337嗷嗚
2     華語男生 列表，依 筆劃 排列  /twh223027.htm  15 HhxXx
3     華語男生 列表，依 筆劃 排列  /twh223726.htm      2-Do
4     華語男生 列表，依 筆劃 排列  /twh180721.htm       200
...               ...             ...        ...
2411  華語男生 列表，依 筆劃 排列  /twh215840.htm    xiaoyu
2412  華語男生 列表，依 筆劃 排列  /twh222185.htm    xo9ain
2413  華語男生 列表，依 筆劃 排列  /twh220586.htm     yoLee
2414  華語男生 列表，依 筆劃 排列  /twh222395.htm     yocho
2415  華語男生 列表，依 筆劃 排列  /twh104862.htm  yuanyuan

[2416 rows x 3 columns]

In [38]:
# # cur.close() 
# conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

# pd.io.sql.to_sql(df1, "mojim_singer", conn,index=False, if_exists='replace')

In [34]:
sql_cmd = "SELECT singer_link FROM music.mojim_singer;"
df = pd.read_sql(sql_cmd,conn)
df

          singer_link
0      /twh136376.htm
1      /twh136376.htm
2      /twh223027.htm
3      /twh223726.htm
4      /twh180721.htm
...               ...
21335  /twh101288.htm
21336  /twh100420.htm
21337  /twh102101.htm
21338  /twh120528.htm
21339  /twh192519.htm

[21340 rows x 1 columns]

In [144]:
list2=df.singer_link.tolist()
list2=list(set(list2))
list2[:5]

['/twh105787.htm',
 '/twh113888.htm',
 '/twh217527.htm',
 '/twh100970.htm',
 '/twh219441.htm']

In [125]:
# list2=['/twh217527.htm','/twh100970.htm']
# list2

['/twh217527.htm', '/twh100970.htm']

In [151]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
def get(i,no,mode):
#     print(i,no,mode)
    start=0
    tag=''
    url='https://mojim.com'+i
#     print('i',i,'mode',mode)
    if '-'in i and mode=='1' or '-' not in i and mode=='0':
        resp = requests.get(url) #  
        soup = BeautifulSoup(resp.text, 'html.parser')
    
    
        url1=url if mode=='0' else url.replace('-1','')

        singer_link=i

        singer=soup.find('a',href=url1).string
    #     print(singer)
        a=soup.find('dl',class_='ha0').find_all('dd')


        values=[]

        for inx1,aa in enumerate(a[:]):
    #         print(inx1,aa.text)
            if ('年份')in aa.text and inx1>1 and start==0 and tag=='' :
                tag='O'
                start=inx1

            elif ('日期') in aa.text and inx1>1 and start==0 and tag=='' :
                tag='X'
                start=inx1




    #         print(inx1,start,tag)
            if inx1 >start:
                if tag=='O':
                    album_name=aa.find(class_='hc1').text
                    aaa=aa.find(class_='hc2')
                    data=[]
                    for l in aaa:
                        if l.string is not None:
                            data.append(l.string)
                    data1=data
    #                 print('data1',data1)
                    for h in data:
                        if  bool(re.search(r'\d', h)):
                            year=h
                            data1.remove(year)
                        else:
                            year='未記錄'
                        lan=data1[0] if len(data1)>=1 else '未記錄'
                        com=data1[1] if len(data1)>1 else '未記錄'


                    song1=aa.find(class_='hc3').find_all('a')

                    for s1 in song1:
                        song=s1['title'].split('歌詞')[0]
                        ly_url='https://mojim.com'+s1['href']

                        if 'thx' not in ly_url :
                            no+=1
                            values.append((no,singer_link,singer,album_name,song,ly_url,year,lan,com))

                    song2=aa.find(class_='hc4').find_all('a')
                    
                    for s2 in song2:
                        song=s2['title'].split('歌詞')[0]            
                        ly_url='https://mojim.com/'+s2['href']
                        if 'thx' not in ly_url : 
                            no+=1
                            values.append((no,singer_link,singer,album_name,song,ly_url,year,lan,com))



                elif tag=='X':
                    song3=aa.find(class_='hc1')
    #                 print(song3)
                    if song3 is not None:
                        for j in song3.find_all('a'):
                            no+=1
                            album_name=j.string
                            ly_url='https://mojim.com'+j['href']
                            year=aa.find(class_='hc4').text
                            lan=''
                            com=''
                            song=j.string
                            values.append((no,singer_link,singer,album_name,song,ly_url,year,lan,com))

            next1=soup.find('span',class_='hd4')
           
            if next1 is not None:
                next2=next1.find_all('a')
                url_list=[]
                for i in next2:
                    if '-'in i:
                        url_list.append(i['href'])
                if len(url_list)>1 and mode =='0':
                    url2=url_list[1]
                    get(url2,no,'1')



    
            
        sql = "INSERT IGNORE INTO mojim_song (no,singer_link,singer,album,song,lyurl,year,langrage,compancy) VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s)"                      
        cur.executemany(sql, tuple(values))    
        conn.commit()

    
    
    return no


no=0
for i in list2[:]:
    no=get(str(i),no,'0')
print('finish')
conn.close()

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F09F90'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\xBC ' for column 'album' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\xBC ' for column 'song' at row 1")
  result = self._query(query)

finish