In [1]:



import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup 
import requests 
import re 
import random

In [52]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT no,lyurl FROM music.mojim.song;"
# df = pd.read_sql(sql_cmd,conn)
# df

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

            no                                  lyurl
0            1  https://mojim.com//twy100198x15x1.htm
1            2  https://mojim.com//twy100198x14x1.htm
2            3  https://mojim.com//twy100198x14x2.htm
3            4  https://mojim.com//twy100198x14x3.htm
4            5  https://mojim.com//twy100198x12x1.htm
...        ...                                    ...
303291  303292   https://mojim.com//twy105001x1x1.htm
303292  303293   https://mojim.com//twy105001x2x1.htm
303293  303294   https://mojim.com//twy105001x3x1.htm
303294  303295   https://mojim.com//twy105001x4x1.htm
303295  303296   https://mojim.com//twy105001x6x1.htm

[303296 rows x 2 columns]

In [70]:
# url=df.lyurl.tolist()
# url[:3]

df2=df.set_index('no').T.to_dict('lsit')
print(len(df2))

303296

In [56]:
df1=df[:3]
df3=df1.set_index('no').T.to_dict('lsit')
df3

{1: ['https://mojim.com//twy100198x15x1.htm'],
 2: ['https://mojim.com//twy100198x14x1.htm'],
 3: ['https://mojim.com//twy100198x14x2.htm']}

In [71]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
# ly_list=[]
for key ,val in df2.items():
    resp = requests.get(val[0]) #  
    soup = BeautifulSoup(resp.text, 'html.parser')
    ly=soup.find(id='fsZx3')
    ly1=[]
    for inx,j in  enumerate(ly):
        if j.string is not None and  '※ Mojim.com　魔鏡歌詞網 'not in j.string and j.string :
            ly1.append(j.string)

    ly2=','.join(ly1)
   
    values=[key,ly2]
    sql = "INSERT IGNORE INTO new_ly (no,ly) VALUES (%s,%s)"                      
    cur.execute(sql, values)    
    conn.commit()
                
conn.close() 

    
#     print(values)
#     ly_list.append(values)
# print(ly_list)
# df4=pd.DataFrame(ly_list)
# df4.columns=['no','ly']
# df4

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0A58D'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA5\\x8D\\x89,b...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0A489'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA4\\x89\\x99\\xE4\\xB8...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0A2AF'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA2\\xAF\\xBE\\xE5\\x92...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0A891'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA8\\x91\\xA8\\xE8\\xBF...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0A591'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA5\\x91\\xAE\\xE7\\x9F...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0A486'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA4\\x86\\xAC,i...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA5\\x8D\\x89,h...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0AA90'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xAA\\x90\\x9E\\xE7\\xB4...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0A0A2'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA0\\xA2\\x95\\xE5\\x8F...' for column 'ly' at row 1")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA0\\xA2\\x95\\xE5\\xA5...' for column 'ly' at row 1")
  result = self._query(query)

TypeError: 'NoneType' object is not iterable

In [67]:
# # cur.close() 
# conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

# pd.io.sql.to_sql(df4, "new_ly", conn,index=False, if_exists='replace')