In [3]:




import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup 
import requests 
import re 
import random

In [4]:

conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT * FROM music.Excel18;"
df = pd.read_sql(sql_cmd,conn)
df.head(2)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,id,link,class,singer_id,singer_name,song_id,song_name,song_word,album_id,album_name,...,years,months,lyric_id,same_id,lyric_language,composer_name,author_name,compancy,album_new_language,album_link
0,100000,https://mojim.com/twy100198x2x2.htm,男生歌手,100198,張洪量,1001980202,情為何物,4,10019802,整個給你,...,1993,01,100000,100000,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm
1,100002,https://mojim.com/twy100198x2x4.htm,男生歌手,100198,張洪量,1001980204,浮萍,2,10019802,整個給你,...,1993,01,100002,100002,Chinese,張洪量,張洪量,滾石,國語,https://mojim.com/tw100198x2.htm

In [5]:
list1=df.link.to_list()

In [12]:
link=[]
for i in list1[:100]:
    resp = requests.get(i) #  
    soup = BeautifulSoup(resp.text, 'html.parser')
    if resp.status_code != requests.codes.ok:
        link.append(i)
df2=pd.DataFrame(link)
df2

Empty DataFrame
Columns: []
Index: []

In [411]:
# cur.close() 
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df2, "error", conn,index=False, if_exists='replace')