In [1]:




import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup 
import requests 
import re 
import random

In [27]:

conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()
cur.execute("SET NAMES utf8")

sql_cmd = "SELECT no,singer_link,singer,album,song,lyurl,year,new_lan,new_com FROM music.new_excel;"
df = pd.read_sql(sql_cmd,conn)
df.head(2)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,no,singer_link,singer,album,song,lyurl,year,new_lan,new_com
0,1,https://mojim.com/twh100198.htm,張洪量,珠穆朗瑪峰,珠穆朗瑪峰,https://mojim.com//twy100198x15x1.htm,2019-07,國語,未記錄
1,2,https://mojim.com/twh100198.htm,張洪量,張洪量 作品13 格陵蘭情書,格陵蘭情書,https://mojim.com//twy100198x14x1.htm,2016-04,國語,滾石

In [29]:
val='英皇'
df.loc[df['new_lan']==val,'lan']=df.new_com
df.loc[df['new_lan']==val,'new_com']=df.new_lan
df.loc[df['new_lan']==val,'new_lan']=df.lan

df.loc[df['new_lan']==val]

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [31]:
df=df.fillna('沒有')
df

,no,singer_link,singer,album,song,lyurl,year,new_lan,new_com,lan
0,1,https://mojim.com/twh100198.htm,張洪量,珠穆朗瑪峰,珠穆朗瑪峰,https://mojim.com//twy100198x15x1.htm,2019-07,國語,未記錄,沒有
1,2,https://mojim.com/twh100198.htm,張洪量,張洪量 作品13 格陵蘭情書,格陵蘭情書,https://mojim.com//twy100198x14x1.htm,2016-04,國語,滾石,沒有
2,3,https://mojim.com/twh100198.htm,張洪量,張洪量 作品13 格陵蘭情書,格陵蘭情書〔口白＋音樂〕,https://mojim.com//twy100198x14x2.htm,2016-04,國語,滾石,沒有
3,4,https://mojim.com/twh100198.htm,張洪量,張洪量 作品13 格陵蘭情書,格陵蘭情書〔音樂〕,https://mojim.com//twy100198x14x3.htm,2016-04,國語,滾石,沒有
4,5,https://mojim.com/twh100198.htm,張洪量,全世界只有你不知道[新歌+精選跨時空情歌全集],全世界只有你不知道,https://mojim.com//twy100198x12x1.htm,2004-04,國語,滾石,沒有
...,...,...,...,...,...,...,...,...,...,...
303291,303292,https://mojim.com/twh105001.htm,網友音樂創作,痛徹心扉,痛徹心扉(孫培恩),https://mojim.com//twy105001x1x1.htm,,國語,未記錄,沒有
303292,303293,https://mojim.com/twh105001.htm,網友音樂創作,朝代,朝代,https://mojim.com//twy105001x2x1.htm,,國語,未記錄,沒有
303293,303294,https://mojim.com/twh105001.htm,網友音樂創作,愛情的樂章,愛情的樂章,https://mojim.com//twy105001x3x1.htm,,國語,未記錄,沒有
303294,303295,https://mojim.com/twh105001.htm,網友音樂創作,你離開的事實,你離開的事實,https://mojim.com//twy105001x4x1.htm,,國語,未記錄,沒有
303295,303296,https://mojim.com/twh105001.htm,網友音樂創作,暫存,分開的最後一天,https://mojim.com//twy105001x6x1.htm,,國語,未記錄,沒有

In [35]:
df.loc[df['lan']=='沒有','lan']=df.new_lan

In [37]:
val='國文'
change='國語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

104

In [39]:
val='英文'
change='英語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

103

In [40]:
val='英國'
change='國英'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

102

In [41]:
val='日文'
change='日語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

102

In [42]:
val='韓文'
change='韓語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

101

In [43]:
val='粵國'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

100

In [44]:
val='英粵語'
change='英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

100

In [45]:
val='粵國語'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

99

In [46]:
val='英文、國語、粵語'
change='國英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

99

In [47]:
val='國語、粵語'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

98

In [48]:
val='粵語、國語'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

97

In [49]:
val='中英'
change='國英'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

96

In [50]:
val='國語粵語'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

95

In [51]:
val='國台語'
change='國台'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

94

In [52]:
val='國粵語'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

93

In [53]:
val='英文、國語'
change='國英'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

92

In [54]:
val='粤语'
change='粤語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

91

In [55]:
val='粵日'
change='日粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

90

In [56]:
val='國.粵語'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

89

In [57]:
val='粵語、國語、英語'
change='國英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

88

In [58]:
val='粵國台日'
change='國台日粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

88

In [59]:
val='粵國英'
change='國英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

87

In [60]:
val='粵英'
change='英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

86

In [61]:
val='粵國英語'
change='國英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

85

In [62]:
val='日粵國'
change='國日粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

84

In [63]:
val='日粵語'
change='日粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

83

In [64]:
val='華語,粵語'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

82

In [65]:
val='國語、台語'
change='國台'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

81

In [66]:
val='台語、國語'
change='國台'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

80

In [67]:
val='台國'
change='國台'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

79

In [68]:
val='日國粵'
change='國日粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

78

In [69]:
val='客家'
change='客語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

77

In [70]:
val='客語童謠'
change='客語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

76

In [71]:
val='粵英日'
change='英日粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

76

In [72]:
val='國語+歐西歌曲'
change='國歐西'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

76

In [73]:
val='國西日'
change='國日西'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

76

In [74]:
val='日國英'
change='國日英'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

76

In [75]:
val='粵.國'
change='國粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

75

In [76]:
val='國語、英語'
change='國英'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

74

In [77]:
val='國語、粵語、英語'
change='國英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

73

In [78]:
val='日英語'
change='日英'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

72

In [79]:
val='國語 + 歐西'
change='國歐西'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

71

In [80]:
val='國語+歐西'
change='國歐西'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

70

In [81]:
val='國英日韓'
change='國日英韓'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

70

In [82]:
val='國法語'
change='國法'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

70

In [83]:
val='日國'
change='國日'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

69

In [84]:
val='台客語'
change='台客'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

69

In [85]:
val='國粵英'
change='國英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

68

In [86]:
val='客家語'
change='客語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

67

In [87]:
val='國韓語'
change='國韓'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

66

In [88]:
val='國英語'
change='國英'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

65

In [89]:
val='國粵台'
change='國台粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

65

In [90]:
val='國 蒙古語'
change='國蒙古'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

65

In [91]:
val='粤語、國語'
change='國粤'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

64

In [92]:
val='粤語、國語、西班牙語'
change='國粤西'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

64

In [93]:
val='國語、粤語、法語'
change='國粤法'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

64

In [94]:
val='歐西+日語歌曲'
change='歐西日'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

64

In [95]:
val='國客語'
change='國客'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

64

In [96]:
val='韓國語'
change='韓國'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

64

In [97]:
val='台日語'
change='台日'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

63

In [98]:
val='國語台語'
change='國台'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

62

In [99]:
val='國粵日'
change='國日粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

61

In [100]:
val='客國'
change='國客'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

60

In [101]:
val='蒙語'
change='蒙古語'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

59

In [102]:
val='中英文'
change='國英'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

58

In [103]:
val='粵日英'
change='日英粵'
df.loc[df['lan']==val,'lan']=change
print(len(df['lan'].unique()))

58

In [138]:
print(len(df['lan'].unique()))
df['lan'].unique()

50

array(['國語', '台語', '國英', '粤語', '音樂', '英語', '國粵', '其他', '日語', '韓語', '國台',
       '客語', '英粵', '國英粵', '國粤', '音樂、粵語', '混合', '日粵', '台英', '國台日粵', '國日粵',
       '原住', '國日', '泰語', '英日粵', '國歐西', '國日西', '國日英', '日英', '國西', '國彝梵英',
       '台客', '拉丁', '宗教', '國韓', '國台粵', '國日英韓', '國法', '國蒙古', '國粤西', '國粤法',
       '歐西日', '國客', '國英德', '蒙古語', '台日', '心靈音樂', '國泰', '日英粵', '法語'],
      dtype=object)

In [108]:
df.loc[df['lan']=='西蒙國際']
# df.loc[df['lan']=='西蒙國際','lan']=df.new_com
# df.loc[df['lan']=='西蒙國際','new_com']=df.new_lan

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [111]:
df.loc[df['lan']=='電影']
df.loc[df['lan']=='電影','lan']='國語'
# df.loc[df['lan']=='電影','new_com']=df.new_lan

In [123]:
df.loc[df['album']=='阿凡達','lan']='英文'
df.loc[df['album']=='阿凡達']

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [118]:
df.loc[df['lan']=='韓國','lan']='國韓'
df.loc[df['lan']=='韓國']

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [125]:
df.loc[df['lan']=='影視配樂','lan']='國語'
df.loc[df['lan']=='影視配樂']

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [130]:
# df.loc[df['album']=='阿凡達','lan']='英文'
df.loc[df['lan']=='電視配樂','lan']='國語'

In [132]:
df.loc[df['lan']=='粵語','lan']='粤語'
df.loc[df['lan']=='粵語']

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [147]:
df.loc[df['lan']=='國粤','lan']='國粵'
df.loc[df['lan']=='國粤']

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [134]:
df.loc[df['lan']=='排灣族語','lan']='原住'
df.loc[df['lan']=='排灣族語']

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [137]:
df.loc[df['lan']=='影視','lan']='國語'
df.loc[df['lan']=='影視']

Empty DataFrame
Columns: [no, singer_link, singer, album, song, lyurl, year, new_lan, new_com, lan]
Index: []

In [148]:
lan_list=df.lan.unique().tolist()
sorted(lan_list)

['其他',
 '原住',
 '台客',
 '台日',
 '台英',
 '台語',
 '國台',
 '國台日粵',
 '國台粵',
 '國客',
 '國彝梵英',
 '國日',
 '國日粵',
 '國日英',
 '國日英韓',
 '國日西',
 '國歐西',
 '國法',
 '國泰',
 '國粤法',
 '國粤西',
 '國粵',
 '國英',
 '國英德',
 '國英粵',
 '國蒙古',
 '國西',
 '國語',
 '國韓',
 '宗教',
 '客語',
 '心靈音樂',
 '拉丁',
 '日粵',
 '日英',
 '日英粵',
 '日語',
 '歐西日',
 '法語',
 '泰語',
 '混合',
 '粤語',
 '英日粵',
 '英粵',
 '英語',
 '蒙古語',
 '韓語',
 '音樂',
 '音樂、粵語']

In [149]:
# cur.close() 
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df, "new_excel1", conn,index=False, if_exists='replace')